*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid blue; */
    }


body {
    background-color: gray;
    background-image: url('assets/screendesign.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
/* the main container */

.card{
  width: 270;
  height: 420;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 2px 5px 15px 0px #17161694;
  background-color:#F5EED7;
  border-radius: 30px;
  body {
    font-size: 20px;
  }
}

h1{
  margin-bottom: 0px;
  text-align: center;
  font-size: 40;
  font-weight: 100;
  position: relative; top: 282;
  color: #575E48;
  .inria-serif-regular {
    font-family: "Inria Serif", serif;
    font-weight: 400;
    font-style: normal;
  }
}

h2{
  margin-top: 0px;
  padding-top: 0px;
  font-size: 26;
  font-weight: 100;
  text-align: center;
  position: relative; top: 295;
  color: #575E48;
  .inria-serif-regular {
    font-family: "Inria Serif", serif;
    font-weight: 400;
    font-style: normal;
  }
} 

h3{
  margin-top: 0px;
  margin-left: 110px;
  padding-top: 0px;
  text-align: left;
  position: relative; top: 390;
  font-size: 20;
  font-weight: 100;
  .inria-serif-regular {
    font-family: "Inria Serif", serif;
    font-weight: 400;
    font-style: normal;
  }
}
h4{
  margin-top: 0px;
  margin-left: 110px;
  padding-top: 0px;
  text-align: left;
  position: relative; top: 420;
  font-size: 20;
  font-weight: 100;
  .inria-serif-regular {
    font-family: "Inria Serif", serif;
    font-weight: 400;
    font-style: normal;
  }
}

a:link, a:visited {
  color: #575E48;
  padding: 0px 0px;
  text-align: center;
  text-decoration: none;
}

a:hover {
  color: rgb(0, 151, 206);
}